*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid_container{
    height: 100vh;
    display: grid;
    width: 50%;
    margin: 1rem auto;
    /* grid-template-columns: repeat(12,1fr) ; */
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 25px;
    
}
.grid_container> div {
    border: 1px solid blue;
    text-align: center;
}
/* auto: tells the cells to adjust contents to fit into the container */
@media (min-width:720px){
    .grid_container{
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto auto 1fr auto;
    }
    /* we tell the various cells how many rows and column to fill */
    .grid_item1,.grid_item2{
        grid-column: 1 / span 12;
    }
    .grid_item3{
        grid-column: 3 / span 10;
    }
    .grid_item4{
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .grid_item5{
        grid-column: 1/ span 2;
    }
    .grid_item6{
        grid-column: 3 / span 10;
    }
}
@media(min-width: 1020px){
    .grid_container{
        grid-template-columns: repeat(12, 1fr);
        /* grid-template-rows: auto 1fr auto; */
    }
    .grid_item1{
        grid-column: 1/span 12;
    }
    .grid_item2{
        grid-column: 3/span 8;
    }
    .grid_item3{
        grid-column: 3/ span 8;
    }
    .grid_item4{
        grid-column: 1/span 2;
        grid-row: 2/4;
    }
    .grid_item5{
        grid-column: 11 /span 2;
        grid-row: 2/4;
    }
    .grid_item6{
        grid-column: 1/span 12;
    }
}